body {
    background-image: url("catyoutuber.github.io/images/background.png");
    background-repeat: repeat;
}
.avatar{
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 4px;
    height: 48px; 
    width: 48px;
}
.header-element{
    top: 4px;
    height: 48px; 
    width: 48px;
}
.header{
    position: fixed;
    margin-top: 0px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #AAAAAA;
}
.content{
    height: 100%;
    background: rgba(255,255,255,0.75);
    overflow: auto;
    margin-left:48px;
    margin-right:48px;
    margin-bottom: 86px;
    margin-top:100px;
}
.search-bar{
    float: right;
    margin-top: 16px;
    margin-right: 16px;
}